 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
 }

 body.dark-theme {
    background-color: #333;
    color: #f9f9f9;
 }

 header{ 
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #fff;
   padding: 1em;
   display: flex;
   justify-content: space-between
   
}

   theme-toggle {
      cursor: pointer;
   }

   section {
      padding: 5em 1em;
      max-width: 800px;
      margin: auto;
   }

